header {
	background: #AAAAAA;	
}

img {
	position: absolute;
	width: 40%;
	top: 60px;
}

.box {
	position: relative;
	width: 1150px;
	height: 270px;
	margin: auto auto;
}

nav{
	position: absolute;
	top: 120px;
	right: 0;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}