header {
	background: #AAAAAA;	
}

.logo {
	position: absolute;
	width: 30%;
	top: 60px;
}

.logo:hover {
	width: 35%;
}

.box {
	position: relative;
	width: 1150px;
	height: 270px;
	margin: auto auto;
}

nav{
	position: absolute;
	top: 120px;
	right: 0;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #0939ab;
}

.product-list {
	padding: 40px 0;
	width: 940px;
	margin: 0 auto;
}

.product-list li {
	display: inline-block;
	width: 30%;
	text-align: center;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 30px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.product-list li:hover {
	border-color: #0939ab;
}

.product-list li:hover h2 {
	font-size: 28px;
}

.product-list li:active {
	border-color: red;
}

.product-list h2{
	font-size: 25px;
	font-weight: bold;
}

.product-description {
	font-size: 18px;
}

.product-price {
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

footer {
	text-align: center;
	background-color: #000000;
	padding: 60px 0;
}

.copyright {
	color: #FFFFFF;
	padding-top: 30px;
	font-size: 13px;
}

.mainform {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	margin-bottom: 10px;
	width: 30%;
	font-size: 20px;
}



.question {
	width: 100%;
	margin: 15px 0;
}

.select {
	margin: 15px 0;
}

.standard-input {
	display: block;
	margin-bottom: 10px;
	width: 50%;
	padding: 12px 20px;
}

.send {
	width: 40%;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	background: orange;
	color: white;
	border: none;
	border-radius: 10px;
	transition: 0.5s all;
}

.send:hover {
	background: darkorange;
	transform: scale(1.1);
}