body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #AAAAAA;	
}

.logo {
	position: absolute;
	width: 30%;
	top: 60px;
}

.logo:hover {
	width: 35%;
}

.box {
	position: relative;
	width: 1150px;
	height: 270px;
	margin: auto auto;
}

nav{
	position: absolute;
	top: 120px;
	right: 0;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #0939ab;
}

.product-list {
	padding: 40px 0;
	width: 940px;
	margin: 0 auto;
}

.product-list li {
	display: inline-block;
	width: 30%;
	text-align: center;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 30px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.product-list li:hover {
	border-color: #0939ab;
}

.product-list li:hover h2 {
	font-size: 28px;
}

.product-list li:active {
	border-color: red;
}

.product-list h2{
	font-size: 25px;
	font-weight: bold;
}

.product-description {
	font-size: 18px;
}

.product-price {
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

footer {
	text-align: center;
	background-color: #000000;
	padding: 60px 0;
}

.copyright {
	color: #FFFFFF;
	padding-top: 30px;
	font-size: 13px;
}

.mainform {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	margin-bottom: 10px;
	width: 30%;
	font-size: 20px;
}



.question {
	width: 100%;
	margin: 15px 0;
}

.select {
	margin: 15px 0;
}

.standard-input {
	display: block;
	margin-bottom: 10px;
	width: 50%;
	padding: 12px 20px;
}

.send {
	width: 40%;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	background: orange;
	color: white;
	border: none;
	border-radius: 10px;
	transition: 0.5s all;
}

.send:hover {
	background: darkorange;
	transform: scale(1.1);
}

table {
	margin: 30px 0 50px;
}

thead {
	background: #666666;
	color: white;
	font-weight: bold;
}

th, td {
	border: 1px solid #000000;
	padding: 10px 30px;
	font-size: 18px;
}


/* Home Page CSS */
 .banner {
 	width: 100%;
 	height: 550px;
 }

.mainhome {
	background: #fafafa;
}

.mainhome em {
	font-weight: bold;
	font-style: italic;
}

.mainhome strong {
	font-weight: bold;
}

.main-mainhome {
	width: 60%;
	margin: 0 auto;
}

 .title1 {
 	font-size: 2em;
 	padding-top: 0.5em;
 	padding-bottom: 1em;
 	text-align: center;
 }

.disguise {
	width: 150px;
	float: left;
	margin: 0 10px 10px 0;
}

.disguise:hover {
	opacity: 0;
	transition: 0.5s;
}

.mainhome p {
	font-size: 20px;
	margin-bottom: 10px;
}

.title1{
	clear: left;
}

.map {
	padding-bottom: 2em;
	background: linear-gradient(#fafafa, #d6d6d6);
}

.map p {
	text-align: center;
	margin-bottom: 1em;
	width: 60%;
	margin: 0 auto;
}

.map-content {
	width: 60%;
	margin: 0 auto;
}

.things {
	background: linear-gradient(#cfcfcf, #aaaaaa);
}

.things h3 {
	width: 60%;
	margin: 0 auto;
}

.list-of-things {
	width: 640px;
	margin: 0 auto;
}

.list {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
}

.item {
	line-height: 1.3;
}

.item:nth-child(2n) {
	font-weight: bold;
}

.item:before {
	content: '🞼';
}

 .fake-news {
 	width: 60%;
 }

.video {
	background: linear-gradient(#AAAAAA, #444444);
}

.video-content {
	width: 560px;
	margin: auto;
	padding-bottom: 2em;

}