body {
	text-align: center;
}

.title1 {
	text-align: left;
}

.banner {
	width: 100%;
	height: 500px;
}

.list {
	text-align: left;
	background-color: #DDDDDD;
	padding: 30px;
}

ul {
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	margin-right: 40%;
}

.fakenews {
	width: 30%;
}